[gcode_shell_command powerscreen_input_shaper]
command: /usr/data/printer_data/config/PowerScreen/scripts/calibrate_shaper.py
timeout: 600.0
verbose: True

[gcode_shell_command powerscreen_belts_calibration]
command: /usr/data/printer_data/config/PowerScreen/scripts/graph_belts.py
timeout: 600.0
verbose: True

[calibrate_shaper_config]

[powerscreen_module_loader]

[respond]
default_type: echo
default_prefix:

[gcode_macro POWERSCREEN_SHAPERS]
description: Shaper Tuning + Plot Generation
gcode:
  {% set x_png = params.X_PNG|default("/usr/data/printer_data/config/resonances_x.png") %}
  {% set y_png = params.Y_PNG|default("/usr/data/printer_data/config/resonances_y.png") %}

  RESPOND TYPE=command MSG='Homing'
  G28
  RESPOND TYPE=command MSG='Testing X Resonances'
  TEST_RESONANCES AXIS=X NAME=x
  M400
  RESPOND TYPE=command MSG='Generating X Plots'
  RUN_SHELL_COMMAND CMD=powerscreen_input_shaper PARAMS="/tmp/resonances_x_x.csv -o {x_png}"
  RESPOND TYPE=command MSG='Testing X Resonances'
  TEST_RESONANCES AXIS=Y NAME=y
  M400
  RESPOND TYPE=command MSG='Generating Y Plots'
  RUN_SHELL_COMMAND CMD=powerscreen_input_shaper PARAMS="/tmp/resonances_y_y.csv -o {y_png}"

[gcode_macro POWERSCREEN_BELTS_SHAPER_CALIBRATION]
description: Perform a custom half-axis test to analyze and compare the frequency profiles of individual belts on CoreXY printers
gcode:
  {% set min_freq = params.FREQ_START|default(5)|float %}
  {% set max_freq = params.FREQ_END|default(133.33)|float %}
  {% set hz_per_sec = params.HZ_PER_SEC|default(1)|float %}
  {% set png_out_path = params.PNG_OUT_PATH|default("/usr/data/printer_data/config/belts_calibration.png") %}
  {% set png_width = params.PNG_WIDTH|default(8)|float %}
  {% set png_height = params.PNG_HEIGHT|default(4.8)|float %}

  TEST_RESONANCES AXIS=1,1 OUTPUT=raw_data NAME=b FREQ_START={min_freq} FREQ_END={max_freq} HZ_PER_SEC={hz_per_sec}
  M400

  TEST_RESONANCES AXIS=1,-1 OUTPUT=raw_data NAME=a FREQ_START={min_freq} FREQ_END={max_freq} HZ_PER_SEC={hz_per_sec}
  M400

  RESPOND MSG="Belts comparative frequency profile generation..."
  RESPOND MSG="This may take some time (3-5min)"
  RUN_SHELL_COMMAND CMD=powerscreen_belts_calibration PARAMS="-w {png_width} -l {png_height} -n -o {png_out_path} -k /usr/share/klipper /tmp/raw_data_axis=1.000,-1.000_a.csv /tmp/raw_data_axis=1.000,1.000_b.csv"

################################################
###### STANDARD INPUT_SHAPER CALIBRATIONS ######
################################################
# Written by Frix_x#0161 #
# https://github.com/Frix-x/klippain-shaketune

[gcode_macro POWERSCREEN_EXCITATE_AXIS_AT_FREQ]
description: Maintain a specified excitation frequency for a period of time to diagnose and locate a source of vibration
gcode:
  {% set frequency = params.FREQUENCY|default(25)|int %}
  {% set time = params.TIME|default(10)|int %}
  {% set axis = params.AXIS|default("x")|string|lower %}

  {% if axis not in ["x", "y", "a", "b"] %}
      { action_raise_error("AXIS selection invalid. Should be either x, y, a or b!") }
  {% endif %}

  {% if axis == "a" %}
      {% set axis = "1,-1" %}
  {% elif axis == "b" %}
      {% set axis = "1,1" %}
  {% endif %}

  TEST_RESONANCES OUTPUT=raw_data AXIS={axis} FREQ_START={frequency-1} FREQ_END={frequency+1} HZ_PER_SEC={1/(time/3)}
  M400

[gcode_shell_command POWERSCREEN_K1_SSH_RESTART]
command: /etc/init.d/S50dropbear
timeout: 600.0
verbose: True


[gcode_macro SDK_UNLOAD_FILAMENT]
description: Corta y retira el filamento
gcode:
  # Hacer homing si es necesario
  IF_NEED_HOME

  # Bajar la cama a una altura segura solo si es necesario
  {% set current_z = printer.toolhead.position.z|float %}
  {% if current_z < 30 %}
    G91
    G0 Z{30 - current_z} F1200
    G90
    M400
  {% endif %}

  # Posición de precarga de la cuchilla
  G90
  G0 Y180 F12000
  G0 X42 F12000

  # Aliviar la presión del nozzle si está caliente
  {% if printer.extruder.temperature >= 170 %}
    M83
    G1 E-10 F300
    M400
  {% endif %}

  # Ajustar aceleración para el movimiento de corte
  SET_VELOCITY_LIMIT ACCEL=5000 ACCEL_TO_DECEL=30000

  # Cortar el filamento
  {% for _ in range(1) %}
    G0 X42 Y225.2 F12000
    G0 X42 Y180 F12000
  {% endfor %}
  M400

  # Retirar completamente el filamento
  M83
  G1 E-100 F600
  M400

[gcode_macro SDK_LOAD_FILAMENT]
description: Carga, purga y limpia el nuevo filamento
gcode:
  # Alerta de que debe estar homeada la impresora
  {% if "xyz" not in printer.toolhead.homed_axes %}
    { action_raise_error("La impresora debe estar homeada antes de cargar filamento.") }
  {% endif %}

  # Temperatura de purga
  {% set temp = params.EXTRUDER_TEMP|default(220)|int %}

  # Bajar la cama hasta una altura segura si la impresión está por debajo de Z30
  {% set current_z = printer.toolhead.position.z|float %}
  {% if current_z < 30 %}
    G91
    G0 Z{30 - current_z} F3000
    G90
    M400
  {% endif %}

  # Mover a la posición segura de la bandeja
  G90
  G0 X148.5 F5000
  M400
  G0 Y225 F5000
  M400

  # Calentar el nozzle
  M109 S220

  # Cargar y purgar el filamento
  M83
  G1 E100 F600
  M400

  # Retraer ligeramente para eliminar el hilo
  G1 E-5 F600
  M400

  # Bajar la temperatura antes de limpiar
  M109 S180

  # Enfriar la punta del filamento
  SET_PIN PIN=fan0 VALUE=128
  G4 P4000
  SET_PIN PIN=fan0 VALUE=0
  G4 P3000
  M400

  # Limpiar el nozzle
  SDK_CLEAN_BRUSH

[gcode_macro SDK_CLEAN_BRUSH]
description: Limpia el nozzle con la brocha
gcode:
  # Verificar que el cabezal esté en la posición de limpieza
  {% set x = printer.toolhead.position.x|float %}
  {% set y = printer.toolhead.position.y|float %}

  {% if (x - 148.5)|abs > 0.1 or (y - 225)|abs > 0.1 %}
    { action_raise_error("SDK_CLEAN_BRUSH: El cabezal debe estar en X148.5 Y225.") }
  {% endif %}

  # Realizar dos pasadas sobre la brocha
  {% for _ in range(2) %}
    G0 X150.5 F5000
    G0 X168.5 F5000
  {% endfor %}
  M400

  # Salir de la bandeja de purga
  G90
  G0 X148.5 F6000
  M400
  G0 Y200 F6000
  M400

#### K1 load and unload ####
[gcode_macro _POWERSCREEN_LOAD_MATERIAL]
gcode:
  {% set extruder_temp = params.EXTRUDER_TEMP|default(220)|int %}

  LOAD_MATERIAL_CLOSE_FAN2

  SDK_LOAD_FILAMENT EXTRUDER_TEMP={extruder_temp}

  LOAD_MATERIAL_RESTORE_FAN2

[gcode_macro _POWERSCREEN_QUIT_MATERIAL]
gcode:
  SAVE_GCODE_STATE NAME=myMoveState

  SDK_UNLOAD_FILAMENT

  RESTORE_GCODE_STATE NAME=myMoveState
